# --- PYTHON ---
__pycache__/
*.py[cod]
*.pkl

# --- ENTORNOS VIRTUALES ---
env/
venv/
.venv/

# --- SISTEMA OPERATIVO (Basura) ---
.DS_Store
Thumbs.db

# --- IDE (Configuraciones locales de VS Code) ---
.vscode/